<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title id="tt">下拉菜单</title>

<body>

<form action="" method="get">
<label>用户角色: </label>

<select name="">
	{% for post in posts %}
<option value="0"> {{ post.role }}</option>
	{% endfor %}
</select>

</form>




</body>
</html>