<html>
<head>
<meta charset="UTF-8" />
<title>曲线图</title>
<script src="../static/jquery.min.js"></script>
<script src="../static/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>

<script language="JavaScript">
$(document).ready(function() {
   var title = {
      text: 'cpu负载图'   
   };
   var subtitle = {
      text: 'Long Shao'
   };
   var xAxis = {
      categories: {{ id }}
   };
   var yAxis = {
      title: {
         text: '负载值'
      },
      plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
   };   

   var tooltip = {
      valueSuffix: '%'
   }

   var legend = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
   };

   var series =  [
      {
         name: 'salt-master',
         data: {{ nu }}
      }, 

 
   ];

   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.legend = legend;
   json.series = series;

   $('#container').highcharts(json);
});
</script>


</body>
</html>