<html>
<head>
  <meta charset="UTF-8">
<title>{% block title %} {% endblock %} -- OMS 后台管理界面</title>
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/houtai.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

  {% block head %}  {% endblock %}

</head>

<body>
<div class="navbar navbar-duomi navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header"> <a id = "omsding" class="navbar-brand" href="/admin/" id="logo">OMS后台管理界面: </a> </div>
  </div>
</div>
<div  class="container-fluid"> </div>
<div class="row"></div>
<div class="col-md-2">
  <script src="/static/js/menu.js"></script>
  <script src="/static/css/bk.css"></script>
</div>
<div class="col-md-10">
  <div  id="biankuang"> </div>

</div>



  <div class="main">
        {% block main %}{% endblock %}
    </div>


</body>
</html>