<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>绘制柱形图</title>
    <!-- 引入 echarts.js -->
    <script src="../static/echarts.js"></script>
    <script src="../static/zhuxing.js"></script>
</head>
<body>

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>

    
    <script type="text/javascript">
        // var data=[5, 20, 36, 10, 10, 20]
        var data= {{ nu }}
        var id = {{ id }}
        zhux(data,id);  // 传入参数
    </script>


</body>
</html>