<html>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <body>
  
      <!-- {{ nu[0].num }}
      {{ nu[1].num }}
      {{ nu[2].num }}
      {{ nu[3].num }}
      {{ nu[4].num }} -->
        
{{ nu }}


    </body>
</html>