<div class="layui-row" id="mdetail">
	<div class="layui-row mb10">
		<div class="layui-col-xs12">
			<div class="site-title">
				<fieldset>
					<legend>个人资料</legend>
				</fieldset>
			</div>
		</div>
		<div id="imagesBox" data-json="{:htmlspecialchars($data.imgurl,ENT_QUOTES)}" class="layui-col-xs12 layui-col-md4">
			<div id="imagesBoxList"></div>
		</div>
		<div class="layui-col-xs12 layui-col-md8">
			<div class="layui-row mb10">
				<div class="layui-col-xs12 layui-col-md8">
					<strong class="mname">{$data.name}</strong>
				</div>
			</div>
			<div class="layui-row">
				<dl class="mybaseinfo">
					<dt class="layui-col-xs12 layui-col-md6">性别：{$data.sex?'男':'女'}</dt>
					<dt class="layui-col-xs12 layui-col-md6">年龄：{$data.age}岁</dt>
					<dt class="layui-col-xs12 layui-col-md6">婚况：{$data.current}</dt>
					<dt class="layui-col-xs12 layui-col-md6">学历：{$data.education}</dt>
					<dt class="layui-col-xs12 layui-col-md6">职业：{$data.professional}</dt>
					<dt class="layui-col-xs12 layui-col-md6">年薪：{$data.income}元以上</dt>
					<dt class="layui-col-xs12 layui-col-md6">身高：{$data.height}CM</dt>
					<dt class="layui-col-xs12 layui-col-md6">体重：{$data.weight}KG</dt>
					<dt class="layui-col-xs12">邮箱：{$data.id?=(getLU('vip')?$data.email:'<a href="javascript:" onclick="buyVipBox()"
						 style="color:#FFB800">开通会员</a>查看')}</dt>
					<dt class="layui-col-xs12">手机：{$data.id?=(getLU('vip')?$data.phone:'<a href="javascript:" onclick="buyVipBox()"
						 style="color:#FFB800">开通会员</a>查看')}</dt>
					<dt class="layui-col-xs12">Q Q：{$data.id?=(getLU('vip')?$data.qq:'<a href="javascript:" onclick="buyVipBox()"
						 style="color:#FFB800">开通会员</a>查看')}</dt>
					<dt class="layui-col-xs12">微信：{$data.id?=(getLU('vip')?$data.weixin:'<a href="javascript:" onclick="buyVipBox()"
						 style="color:#FFB800">开通会员</a>查看')}</dt>
					<dt class="layui-col-xs12">地址：{$data.address}</dt>
				</dl>
			</div>
		</div>
	</div>
	<div class="layui-row mb10">
		<div class="layui-col-xs12">
			<div class="site-title">
				<fieldset>
					<legend>其他信息</legend>
				</fieldset>
			</div>
		</div>
		<div class="layui-col-xs12">
			<table class="layui-table" lay-even lay-skin="nob">
				<tbody>
					<tr>
						<td style="width:120px">可与{$data.sex?'女':'男'}友</td>
						<td class="layui-hide-xs">{$data.cando}</td>
					</tr>
					<tr class="layui-hide-md">
						<td>{$data.cando}</td>
					</tr>
					<tr>
						<td>性格类型</td>
						<td class="layui-hide-xs">{$data.character}</td>
					</tr>
					<tr class="layui-hide-md">
						<td>{$data.character}</td>
					</tr>
					<tr>
						<td>兴趣爱好</td>
						<td class="layui-hide-xs">{$data.hobby}</td>
					</tr>
					<tr class="layui-hide-md">
						<td>{$data.hobby}</td>
					</tr>
					<tr>
						<td>自我介绍</td>
						<td class="layui-hide-xs">{$data.myinfo}</td>
					</tr>
					<tr class="layui-hide-md">
						<td>{$data.myinfo}</td>
					</tr>
					<tr>
						<td>期望{$data.sex?'女':'男'}友</td>
						<td class="layui-hide-xs">{$data.expect}</td>
					</tr>
					<tr class="layui-hide-md">
						<td>{$data.expect}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	$(function() {
		var imagesData = $('#imagesBox').data('json') || [];
		var _h = '';
		if (imagesData.length == 0) {
			$('#imagesBox').prepend('<img src="' + root_path +
				'template/default/img/nopic.png" alt="" title="暂无照片" style="cursor:default">');
			return false;
		}
		for (var i = 0; i < imagesData.length; i++) {
			var url = root_path + imagesData[i];
			if (!i) {
				$('#imagesBox').prepend('<img src="' + url + '" alt="" title="点击查看大图">');
			}
			_h += '<img src="' + url + '" class="' + (i ? '' : 'pk-active') + '" alt="">';
		}
		$('#imagesBoxList').html(_h).find('img').on({
			mouseover: function() {
				$('#imagesBoxList img').removeClass('pk-active');
				$('#imagesBox>img').attr({
					src: $(this).addClass('pk-active').attr('src')
				});
			}
		});
		layer.photos({
			photos: '#imagesBoxList'
		});
		$('#imagesBox>img').on({
			click: function() {
				$('#imagesBoxList>img.pk-active').click();
			}
		});
	});
</script>
