<div id="citylist" class="layui-row ocity" data-data="{:htmlspecialchars(config('config.footcitylist'))}"></div>
<div class="layui-row {$Think.config.user.id?($Think.config.user.sex?'layui-bg-blue':'layui-bg-red'):'layui-bg-green'}"
 id="footer">
	<div class="layui-col-xs12">{$Think.config.config.footcode}</div>
	<p>Copyright &copy; {:date('Y')} {$Request.host} 版权所有</p>
	<p>Powered by <a target="_blank" href="https://www.baidu.com">BAIDU.COM</a></p>
</div>
<script>
	$(function() {
		var citylist = $('#citylist').data('data') || '';
		citylist = citylist.split(',');
		var h = '';
		for (var i = 0; i < citylist.length; i++) {
			var a = citylist[i];
			var b = 'city/' + a;
			if (a) {
				if ('北京,上海,天津,重庆'.split(',').indexOf(a) !== -1) {
					b = 'province/' + a;
				}
				if (a == '全国') {
					b = '';
				}
				h += '<a href="__ROOT__/index.php/s/' + b + '">' + a + '</a>';
			}
		}
		if (h) {
			$('#citylist').css({
				paddingTop: '10px'
			}).html('热门城市：' + h);
		}
	});
</script>
