<div class="layui-row" id="header">
	<div class="layui-col-xs6 layui-col-md4" id="logo">
		<a href="__ROOT__/">
			<img src="__ROOT__/template/default/img/logo.png" alt="">
		</a>
	</div>
	<div class="layui-col-xs0 layui-col-md4">
		<div class="toptips">&nbsp;</div>
	</div>
	<div class="layui-col-xs6 layui-col-md4">
		<div class="uinfo" style="font-size:13px">
			<div class="layui-breadcrumb" lay-separator="|">
				{if condition="$Think.config.user.id"}
				<a href="__ROOT__/index.php/my">{$Think.config.user.email}({$Think.config.user.vip?'VIP用户':'普通用户'})</a>
				<a href="javascript:" onclick="logout()">退出</a>
				{else /}
				<a href="__ROOT__/index.php/reg">注册</a> |
				<a href="__ROOT__/index.php/login">登录</a>
				{/if}
			</div>
		</div>
	</div>
</div>
<ul class="layui-nav mb10 {$Think.config.user.id?($Think.config.user.sex?'layui-bg-blue':'layui-bg-red'):'layui-bg-green'}">
	{$Think.config.config.navcode}
</ul>
