<div class="layui-row mb10" id="search_box">
	<form class="layui-form" action="__ROOT__/">
		<div class="layui-form-item">
			<label class="layui-form-label">搜索</label>
			<div class="layui-input-inline">
				<select name="sex" id="sex" data-value="">
					<option value="">请选择性别</option>
					<option value="1">男</option>
					<option value="0">女</option>
				</select>
			</div>
			<div class="layui-input-inline">
				<select lay-filter="province" name="province" id="province" data-value="">
					<option value="">请选择省</option>
				</select>
			</div>
			<div class="layui-input-inline">
				<select lay-filter="city" name="city" id="city" data-value="">
					<option value="">请选择市</option>
				</select>
			</div>
			<div class="layui-input-inline">
				<select name="age1" id="age1" data-value="">
					<option value="">年龄</option>
			
					<option value="">岁</option>
			
				</select>
			</div>
			<div class="layui-form-mid">-</div>
			<div class="layui-input-inline">
				<select name="age2" id="age2" data-value="">
					<option value="">年龄</option>
					
					<option value="">岁</option>
				
				</select>
			</div>
			<input type="hidden" name="page" value="1" />
			<div class="layui-input-inline" id="soline">
				<button id="searchBtn" type="button" lay-filter="searchBtn" lay-submit class="layui-btn">搜索</button>
			</div>
		</div>
	</form>
</div>
<script>
	layui.form.on('submit(searchBtn)', function(data) {
		var s = '';
		for (var i in data.field) {
			if (data.field[i]) {
				s += '/' + i + '/' + data.field[i];
			}
		}
		location.href = '__ROOT__/index.php/s' + s;
	});
</script>
<div class="layui-row mb10 zlist_01">
	<ul class="clearfix">
	
		<li>
			<a href="__ROOT__/index.php/detail/" class="clearfix" target="_blank">
				<div class="photo">
					 style="width:140px;height:140px">
				</div>
				<div class="param">
					<p class="name" style="color:#d7518f"></p>
					<p class="oinfo">
						性别：'男':'女'}
						<br> 学历：
						<br> 年龄：岁
						<br>
						<br> 职业：
						<br> 地址：
					</p>
				</div>
			</a>
		</li>
		{/volist}
	</ul>
</div>
<div class="layui-row">
	<div id="pageBox" class="page"></div>
</div>
<script>
	$(function() {
		//页码生成
		var page = parseInt('') || 1;
		console.log(test);
		var pagecount = parseInt('') || 1;
		var o = $('#pageBox'),
			html = '',
			a = page - 4,
			b = page + 4;
		if (a < 1) {
			b += (-a) + 1;
			a = 1;
		}
		if (b > pagecount) {
			b = pagecount;
		}
		if (b - page < 4) {
			a -= (4 - (b - page));
			if (a < 1) {
				a = 1;
			}
		}
		for (var i = a; i < page && a > 0; i++) {
			html += '<a href="javascript:" data-page="' + i + '">' + i + '</a>';
		}
		html += '<font>' + page + '</font>';
		for (var i = page + 1; i < b + 1; i++) {
			html += '<a href="javascript:" data-page="' + i + '">' + i + '</a>';
		}
		if (page != 1) {
			html = '<a href="javascript:" data-page="1">首页</a><a href="javascript:" data-page="' + (page - 1) + '">上一页</a>' +
				html;
		}
		if (page != pagecount) {
			html += '<a href="javascript:" data-page="' + pagecount + '">末页</a><a href="javascript:" data-page="' + (page + 1) +
				'">下一页</a>';
		}
		o.html(html).find('a').on('click', function() {
			$('#search_box input[name="page"]').val($(this).data('page'));
			$('#searchBtn').click();
		});
	});
</script>
