<div class="layui-row">
	<div class="layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">用户登录</div>
			<div class="layui-card-body">
				<form class="layui-form" action="" method="post" style="max-width:360px;margin:0 auto">
					<div class="layui-form-item" style="padding-top:30px">
						<label class="layui-form-label">邮箱：</label>
						<div class="layui-input-block">
							<input name="email" autocomplete="off" class="layui-input" type="text" lay-verify="email|required">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">密码：</label>
						<div class="layui-input-block">
							<input name="password" autocomplete="off" class="layui-input" type="password" lay-verify="required">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">验证码：</label>
						<div class="layui-input-block">
							<input name="captcha" autocomplete="off" class="layui-input" type="text" lay-verify="required">
							<div style="margin-top:5px">
								<img id="captcha" src="{:captcha_src()}" style="cursor:pointer" alt="captcha" onclick="this.src='{:captcha_src()}?'+Math.random()" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"></label>
						<div class="layui-input-block">
							<button type="button" lay-submit lay-filter="submit" class="layui-btn layui-btn-danger">登录</button>
						</div>
					</div>
					<div class="layui-form-item">
						<div style="text-align:center;padding:50px 0 0">
							<p>发布自己，让别人找到你~</p>
							<p>不得利用本站发布违法信息。</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	layui.form.on('submit(submit)', function(data) {
		if ($(data.elem).hasClass('layui-btn-disabled')) {
			return false;
		}
		$(data.elem).addClass('layui-btn-disabled');
		//console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
		//console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
		//console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
		$.post('__ROOT__/index.php/login/check', data.field, function(rd) {
			$(data.elem).removeClass('layui-btn-disabled');
			if (rd['state'] == 'ok') {
				layer.msg('登录成功', {
					icon: 1
				}, function() {
					location.href = '__ROOT__/index.php/my';
				});
			} else {
				//console.log(rd);
				layer.msg(rd['datas']['msg'] || '未知错误', {
					icon: 2
				}, function() {
					$('#captcha').click();
				});
			}
		});
		return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
</script>
