<div class="layui-row" id="mycenter_bd">
	<div class="layui-col-md3 layui-hide-xs">
		<div class="sideBar">
			<div class="uziliao">
				<div class="pto">
					<img src="__ROOT__/template/default/img/nohead-{$data.sex}.png" style="width:91px;height:91px">
				</div>
				<p class="name">{$data.email}</p>
				<p class="level">{$data.vip?'<b style="color:red">VIP用户</b><br>将于'.date('Y-m-d',$data.vipexptime).'到期':'普通用户'}</p>
			</div>
			<dl>
				<dd>
					<a href="__ROOT__/index.php/my">个人设置</a>
				</dd>
				<dd>
					<a href="javascript:" id="changePwBtn">修改密码</a>
				</dd>
				<dt class="ico_02">
					<a href="javascript:" class="forvip" id="buyVipBtn" onclick="buyVipBox()">开通/续费VIP</a>
				</dt>
			</dl>
		</div>
	</div>
	<div class="layui-col-md9 layui-col-xs12">
		<div class="layui-card">
			<div class="layui-card-header">
				<span>个人设置</span>
				<span>/</span>
				<a href="javascript:" onclick="$('#changePwBtn').click()">修改密码</a>
				<span>/</span>
				<a href="javascript:" onclick="$('#buyVipBtn').click()">开通/续费VIP</a>
			</div>
			<div class="layui-card-body" style="padding-top:0">
				<div class="setpwd" style="padding-top:0">
					<form class="layui-form" action="" method="post">
						<div class="site-title">
							<fieldset>
								<legend>个人照片</legend>
							</fieldset>
						</div>
						<div id="picList" data-data="{$data.imgurl}"></div>
						<div style="text-align:center;color:red;font-size:12px">注意：上传或删除图片后需要点击下方的“保存”按钮来保存数据。</div>
						<div class="site-title">
							<fieldset>
								<legend>基本资料</legend>
							</fieldset>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">姓名：</label>
							<div class="layui-input-inline">
								<input name="name" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input" type="text"
								 value="{$data.name}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">性别：</label>
							<div class="layui-input-inline">
								<select lay-filter="sex" name="sex" data-value="{$data.sex}">
									<option value="0">女</option>
									<option value="1">男</option>
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">出生年月：</label>
								<div class="layui-input-inline">
									<input class="layui-input" name="birthday" id="birthday" lay-verify="required" placeholder="yyyy-MM-dd" type="text"
									 value="{:date('Y-m-d',$data.birthday)}" readonly>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label">所在地区：</label>
								<div class="layui-input-inline">
									<select lay-filter="province" name="province" id="province" lay-verify="required" data-value="{$data.province}">
										<option value="">请选择</option>
									</select>
								</div>
								<div class="layui-input-inline">
									<select lay-filter="city" name="city" id="city" lay-verify="required" data-value="{$data.city}">
										<option value="">请选择市</option>
									</select>
								</div>
								<div class="layui-input-inline">
									<select lay-filter="town" name="county" id="town" lay-verify="required" data-value="{$data.county}">
										<option value="">请选择市</option>
									</select>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">身高：</label>
							<div class="layui-input-inline">
								<input name="height" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input" type="number"
								 value="{$data.height}">
							</div>
							<div class="layui-form-mid layui-word-aux">CM</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">体重：</label>
							<div class="layui-input-inline">
								<input name="weight" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input" type="number"
								 value="{$data.weight}">
							</div>
							<div class="layui-form-mid layui-word-aux">KG</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">学历：</label>
							<div class="layui-input-inline">
								<select name="education" class="_auto_create" data-data="{:htmlspecialchars($Think.config.config.my_education,ENT_QUOTES)}"
								 data-type="option" data-value="{$data.education}"></select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">婚姻：</label>
							<div class="layui-input-inline">
								<select name="current" class="_auto_create" data-data="{:htmlspecialchars($Think.config.config.my_current,ENT_QUOTES)}"
								 data-type="option" data-value="{$data.current}"></select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">职业：</label>
							<div class="layui-input-inline">
								<select name="professional" class="_auto_create" data-data="{:htmlspecialchars($Think.config.config.my_professional,ENT_QUOTES)}"
								 data-type="option" data-value="{$data.professional}"></select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">年薪：</label>
							<div class="layui-input-inline">
								<input name="income" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input" type="number"
								 value="{$data.income}">
							</div>
							<div class="layui-form-mid layui-word-aux">元</div>
						</div>
						<div class="site-title">
							<fieldset>
								<legend>联系方式</legend>
							</fieldset>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">手机：</label>
							<div class="layui-input-inline">
								<input name="phone" lay-verify="required|phone" autocomplete="off" placeholder="请输入" class="layui-input" type="text"
								 value="{$data.phone}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">微信：</label>
							<div class="layui-input-inline">
								<input name="weixin" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input" type="text"
								 value="{$data.weixin}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">QQ：</label>
							<div class="layui-input-inline">
								<input name="qq" lay-verify="required|number" autocomplete="off" placeholder="请输入" class="layui-input" type="text"
								 value="{$data.qq}">
							</div>
						</div>
						<div class="site-title">
							<fieldset>
								<legend>其他信息</legend>
							</fieldset>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">可与{$data.sex?'女':'男'}友：</label>
							<div class="layui-input-block _auto_create" data-data="{:htmlspecialchars($Think.config.config.my_cando,ENT_QUOTES)}"
							 data-type="input" data-name="cando" data-value="{$data.cando}"></div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">兴趣爱好：</label>
							<div class="layui-input-block _auto_create" data-data="{:htmlspecialchars($Think.config.config.my_hobby,ENT_QUOTES)}"
							 data-type="input" data-name="hobby" data-value="{$data.hobby}"></div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">性格类型：</label>
							<div class="layui-input-block _auto_create" data-data="{:htmlspecialchars($Think.config.config.my_character,ENT_QUOTES)}"
							 data-type="input" data-name="character" data-value="{$data.character}"></div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">自我介绍：</label>
							<div class="layui-input-block">
								<textarea name="myinfo" placeholder="写点什么吧" class="layui-textarea">{$data.myinfo}</textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">期望{$data.sex?'女':'男'}友：</label>
							<div class="layui-input-block">
								<textarea name="expect" placeholder="对你未来的男友有啥期望~" class="layui-textarea">{$data.expect}</textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label"></label>
								<div class="layui-input-inline">
									<button type="button" class="layui-btn layui-btn-danger" lay-submit lay-filter="submit">保存</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function() {
		//select选中
		var a = $('select');
		for (var i = 0; i < a.length; i++) {
			var v = ($(a[i]).data('value') || '') + '';
			if (v) {
				$(a[i]).find('option[value="' + v + '"]').prop('selected', true);
			}
		}
		//自动填充内容
		var a = $('._auto_create');
		for (var i = 0; i < a.length; i++) {
			var datas = $(a[i]).data('data').split(',');
			var type = $(a[i]).data('type');
			var value = ($(a[i]).data('value') || '').split(',');
			var html = '';
			for (var j = 0; j < datas.length; j++) {
				var v = datas[j];
				switch (type) {
					case 'option':
						html += '<option value="' + v + '"' + (value.indexOf(v) > -1 ? ' selected' : '') + '>' + v + '</option>';
						break;
					case 'input':
						html += '<input lay-skin="primary" value="' + v + '" type="checkbox" title="' + v + '"' + (value.indexOf(v) > -
							1 ? ' checked' : '') + '>';
						break;
				}
			}
			$(a[i]).html(html);
		}
		//时间选择器
		layui.laydate.render({
			elem: '#birthday'
		});
		//提交表单
		layui.form.on('submit(submit)', function(data) {
			if ($(data.elem).hasClass('layui-btn-disabled')) {
				return false;
			}
			$(data.elem).addClass('layui-btn-disabled');
			//console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
			//console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
			//console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
			//多选项归类
			var a = $('._auto_create[data-type="input"]');
			for (var i = 0; i < a.length; i++) {
				var b = '';
				var o = $(a[i]).find('input:checked');
				for (var j = 0; j < o.length; j++) {
					b += ',' + $(o[j]).val();
				}
				data.field[$(a[i]).data('name')] = b.substr(1);
			}
			//照片保存
			var a = $('#picList img.pk-active'),
				b = [];
			for (var i = 0; i < a.length; i++) {
				var c = $(a[i]).attr('src') || '';
				var d = c.indexOf(root_path);
				if (d === 0) {
					c = c.substr(d + root_path.length);
					b.push(c);
				}
			}
			data.field['imgurl'] = JSON.stringify(b);
			//console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
			$.post(root_path + 'index.php/my_save', data.field, function(rd) {
				$(data.elem).removeClass('layui-btn-disabled');
				if (rd['state'] == 'ok') {
					layer.msg('保存成功', {
						icon: 1
					});
				} else {
					//console.log(rd);
					layer.msg(rd['datas']['msg'] || '未知错误', {
						icon: 2
					});
				}
			});
			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
		//加载照片列表
		var nullPic =
			'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII=';
		var a = $('#picList').data('data') || [],
			h = '';
		for (var i = 0; i < 5; i++) {
			var url = nullPic;
			if (a[i]) {
				url = root_path + a[i];
				h += '<div><img src="' + url +
					'" class="pk-active"><span class="layui-icon layui-icon-delete" title="删除"></span></div>';
			} else {
				h += '<div><img src="' + url + '"><span class="layui-icon layui-icon-delete layui-hide" title="删除"></span></div>';
			}
		}
		//上传图片
		$('#picList').html(h).find('img').on('click', function() {
			var rnd = parseInt(Math.random() * 1000000),
				This = $(this);
			$('body').append('<input type="file" id="_' + rnd + '" style="display:none">');
			$('#_' + rnd).on('change', function() {
				var formData = new FormData(),
					pid = false;
				formData.append('imgFile', document.getElementById('_' + rnd).files[0]);
				$.ajax({
					type: 'POST', // 数据提交类型
					url: root_path + 'index.php/my_upload', // 发送地址
					data: formData, //发送数据
					async: true, // 是否异步
					processData: false,
					contentType: false,
					dataType: 'json',
					beforeSend: function() {
						pid = layer.msg('正在上传,请稍后...', {
							time: 0,
							icon: 0,
							shade: 0.3
						});
					},
					success: function(data) {
						console.log(data);
						if (data['state'] == 'ok') {
							This.addClass('pk-active').attr('src', root_path + data['datas']['msg']);
							This.parent().find('span').removeClass('layui-hide');
						} else {
							layer.msg(data['datas']['msg'] || '未知错误', {
								icon: 2
							});
						}
						layer.close(pid);
						$('#_' + rnd).remove();
					},
					error: function(e) {
						layer.open({
							title: "出错",
							content: e.responseText,
							area: ['100%', '100%']
						});
					}
				});
			}).click();
		});
		$('#picList').find('span').on('click', function() {
			$(this).addClass('layui-hide');
			$(this).parent().find('img').removeClass('pk-active').attr('src', nullPic);
		});
		layui.form.render();
		//修改密码
		$('#changePwBtn').on('click', function() {
			layer.open({
				type: 1,
				title: "密码修改",
				content: '<form class="layui-form" style="padding:20px" method="post"><div class="layui-form-item"><label class="layui-form-label">旧密码</label><div class="layui-input-block"><input type="password" name="oldpassword" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"></div></div><div class="layui-form-item"><label class="layui-form-label">新密码</label><div class="layui-input-block"><input type="text" name="newpassword" lay-verify="required" placeholder="6-16位之间" autocomplete="off" class="layui-input"></div></div><div class="layui-form-item"><label class="layui-form-label"></label><div class="layui-input-block"><input type="button" lay-submit lay-filter="cPwBtn" class="layui-btn layui-btn-danger" value="修改"></div></div></form>',
				success: function(layero, index) {
					layui.form.on('submit(cPwBtn)', function(data) {
						$.post(root_path + 'index.php/my_save', data.field, function(rd) {
							if (rd['state'] == 'ok') {
								layer.msg('修改成功', {
									icon: 1
								});
								layer.close(index);
							} else {
								//console.log(rd);
								layer.msg(rd['datas']['msg'] || '未知错误', {
									icon: 2
								});
							}
						});
					});
				}
			});
		});
	});
</script>
