<div class="layui-row">
	<div class="layui-col-xs12 layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-header">会员注册</div>
			<div class="layui-card-body">
				<form class="layui-form" action="__ROOT__/index.php/reg/check" method="post" style="max-width:360px;margin:0 auto">
					<div class="layui-form-item" style="padding-top:30px">
						<label class="layui-form-label">邮箱：</label>
						<div class="layui-input-block">
							<input name="email" lay-verify="require|email" autocomplete="off" class="layui-input" type="text">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">密码：</label>
						<div class="layui-input-block">
							<input name="password" lay-verify="require" autocomplete="off" placeholder="6-16位字符" class="layui-input" type="text">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">性别：</label>
						<div class="layui-input-block">
							<select lay-filter="sex" name="sex" id="sex">
								<option value="0">女</option>
								<option value="1">男</option>
							</select>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">姓名/昵称：</label>
						<div class="layui-input-block">
							<input name="name" lay-verify="require" autocomplete="off" class="layui-input" type="text">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">所在地区：</label>
						<div class="layui-input-inline" style="width:80px;margin-right:5px">
							<select lay-filter="province" name="province" id="province" lay-verify="required">
								<option value="">省份</option>
							</select>
						</div>
						<div class="layui-input-inline" style="width:80px;margin-right:5px">
							<select lay-filter="city" name="city" id="city" lay-verify="required">
								<option value="">城市</option>
							</select>
						</div>
						<div class="layui-input-inline" style="width:80px;margin-right:0">
							<select lay-filter="town" name="county" id="town" lay-verify="required">
								<option value="">区域</option>
							</select>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">Q Q：</label>
						<div class="layui-input-block">
							<input name="qq" id="qq" lay-verify="required" autocomplete="off" class="layui-input" type="text">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">微 信：</label>
						<div class="layui-input-block">
							<input name="weixin" id="wx" lay-verify="required" autocomplete="off" class="layui-input" type="text">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">验证码：</label>
						<div class="layui-input-block">
							<input name="captcha" autocomplete="off" class="layui-input" type="text" lay-verify="required">
							<div style="margin-top:5px">
								<img id="captcha" src="{:captcha_src()}" style="cursor:pointer" alt="captcha" onclick="this.src='{:captcha_src()}?'+Math.random()" />
							</div>
						</div>
					</div>

					<div class="layui-form-item" style="padding-bottom:30px">
						<label class="layui-form-label"></label>
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-danger" lay-submit lay-filter="submit">立即注册</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	layui.form.on('submit(submit)', function(data) {
		if ($(data.elem).hasClass('layui-btn-disabled')) {
			return false;
		}
		$(data.elem).addClass('layui-btn-disabled');
		//console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
		//console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
		//console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
		$.post('__ROOT__/index.php/reg/check', data.field, function(rd) {
			$(data.elem).removeClass('layui-btn-disabled');
			if (rd['state'] == 'ok') {
				layer.msg('注册成功', {
					icon: 1
				}, function() {
					location.href = '__ROOT__/index.php/my';
				});
			} else {
				//console.log(rd);
				layer.msg(rd['datas']['msg'] || '未知错误', {
					icon: 2
				}, function() {
					$('#captcha').click();
				});
			}
		});
		return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
</script>
