<html>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <body>
  
        {% for num in nu %}

        <!-- <p>{{ num.id}}  {{ num.num }}</p> -->
        <p>{{ num.num }}</p>

        {% endfor %}
        

    </body>
</html>