<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
   {% for k,v in user.items() %}
            <p>{{ k }}:{{ v }}</p>
    {% endfor %}


  <h1>遍历列表:</h1>
  {% for website in websites %}
   <p> {{ website }}</p>


  {% endfor %}

</body>
</html>