{% extends 'base.html' %}

{% block title %} 首页 {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">

{% endblock %}


{% block main %}
<ul>
    <li>
        <div class="'avatar-group">
            <img src="{{ url_for('static',filename='images/qq.png') }}" alt="" class="avatar">
        </div>
        <div class=question-group"">
            <p class="question-title"><a href="#">为什么天是蓝色的？</a></p>
            <p class="question-content">如果女生喜欢你,她不会因为你肚子大，就放弃.当然了 如果你的身材有 八块腹肌的话，那是最棒的..... ​​​​</p>

            <div class="question-info">
                <span class="question-author">奥巴马学院</span>
                <span class="question-time">2017-06-24 15:36:44</span>

            </div>


        </div>

    </li>


    <li>
        <div class="'avatar-group">
            <img src="{{ url_for('static',filename='images/qq.png') }}" alt="" class="avatar">
        </div>
        <div class=question-group"">
            <p class="question-title"><a href="#">你真的喜欢我吗？</a></p>
            <p class="question-content">如果女生喜欢你,她不会因为你肚子大，就放弃.当然了 如果你的身材有 八块腹肌的话，那是最棒的..... ​​​​</p>

            <div class="question-info">
                <span class="question-author">奥巴马学院</span>
                <span class="question-time">2017-06-24 16:36:44</span>

            </div>


        </div>

    </li>

</ul>


{% endblock %}


