
.logo{
    width: 100px;

}

ul{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    padding: 15px 0;
}

ul {
    border-bottom: 1px solid #eee;
}



.avatar-group{
    width: 30px;
    height: 100%;
    float: left;
}

.avatar-group.avatar{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.question-group{
    float: left;
    width: 660px;
    margin-left: 10px;
}

.question-title a{
    color: #259;
    font-weight: 900;

}

.question-info{
    text-align: right;
}

.question-info .question-author{
    margin-right: 20px;
}

