<!DOCTYPE html>
<html lang="en">
<!--导航条-->

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .nav{
            background: #3a3a3a;
            height: 65px;
        }
        ul{
            overflow:hidden;
        }


        ul li{
            float: left;
            list-style: none;
            padding: 0 10px;
            line-height: 65px;

        }

        ul li a{
            color:orange;
        }


    </style>


</head>
<body>

<div class="nav">
    <ul>
        <li> <a href="#">首页</a></li>
        <li> <a href="#">发布问答 </a></li>
        </ul>
</div>

<!--写接口，子模板就可以使用,在接口里写信的内容-->

{% block  main %}  {% endblock%}



</body>
</html>