.question-info{
    text-align: center;
    margin-top: 2;

}

.answer-list li{
     padding-left: 0;

}


.answer-list li{
    list-style: none;
    border-bottom: 1px solid;
    padding-top: 10px;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.user-info{
    font-size: 16px;
    color: #9b9b9b;
}

.user-info .username{
    margin-left: 15px;
    line-height: 40px;
}

.user-info .create-time{
    float: right;
}

.answer-content{
    margin-left: 60px;
}

