<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    这是html....
 <p>  用户名: {{ username }}</p>
 <p>  性别: {{ sex }}</p>
 <p>  age: {{ age }}</p>

</body>
</html>