<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<img src="{{ avatar|default('http://userhead.szhomeimg.com/userface/100/003/166/3166330.jpg') }}" alt="">
<!--<img src="{{ avatar }}" alt="">-->

<hr>
<p>评论数:（{{ comments|length }}）</p>

<ul>
        {% for comment in comments %}
    <li>
        <a href="#"> {{ comment.user }}></a>
        <p>{{ comment.content }}</p>
    </li>
        {% endfor%}
</ul>

</body>
</html>