<html>
<head>
<meta charset="UTF-8" />
<title>曲线图</title>
<script src="../static/jquery.min.js"></script>
<script src="../static/highcharts.js"></script>
<script src="../static/quxian.js"></script>
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>

<script language="JavaScript">
    var data = {{ nu }}
    var id = {{ id }}
    quxian(data,id);
</script>


</body>
</html>