{% extends 'base.html' %}

{% block title  %}登录{% endblock %}

{% block head %}
 <link rel="stylesheet" href="{{ url_for('static',filename='css/login_regist.css') }}">

{% endblock %}


{% block main %}
<h3 class="page-title">登录</h3>

<form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="手机号码" name="telephone">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密码" name="password">
            </div>
                    <button class="btn btn-primary btn-block">登录</button>

                </div>

        </div>

</form>


{% endblock %}

