<html>
<head>
  <meta charset="UTF-8">
<title>{% block title %} {% endblock %} -- OMS 后台管理界面</title>
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/houtai.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

  {% block head %}  {% endblock %}

</head>

<body>
<div class="navbar navbar-duomi navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header"> <a id = "omsding" class="navbar-brand" href="/admin/" id="logo">OMS后台管理界面: </a> </div>
  </div>
</div>
<div  class="container-fluid"> </div>
<div class="row"></div>
<div class="col-md-2">

<ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li class="active">
                        <a href="#">
                            <i class="glyphicon glyphicon-th-large"></i>
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            资产管理
                               <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="{{ url_for('admin.host_list') }}"><i class="glyphicon glyphicon-user"></i>主机列表</a></li>
                            <li><a href="{{ url_for('admin.data_center') }}"><i class="glyphicon glyphicon-user"></i>数据中心资产</a></li>


                        </ul>
                    </li>

					<li>
                        <a href="#cc" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            装机列表
                               <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="cc" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i>软件安装列表</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>安装记录</a></li>


                        </ul>
                    </li>


                    	<li>
                        <a href="#ff" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            部署管理
                               <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="ff" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="/exe"><i class="glyphicon glyphicon-user"></i>远程管理</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> xxoo </a></li>


                        </ul>
                    </li>




					<li>
                        <a href="#dd" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            用户管理
                               <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="dd" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i>用户列表</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>操作用户</a></li>


                        </ul>
                    </li>


					 <li>
                        <a href="/admin">
                            <i class="glyphicon glyphicon-fire"></i>
                            admin后台
                        </a>
                    </li>


                    <li>
                        <a href="/zhanghu/logout/">
                            <i class="glyphicon glyphicon-fire"></i>
                            退出系统
                        </a>
                    </li>

                </ul>


  <script src="/static/css/bk.css"></script>
</div>
<div class="col-md-10">
  <div  id="biankuang"> </div>

</div>



  <div class="main">
        {% block main %}{% endblock %}
    </div>


</body>
</html>