{% extends 'base.html' %}

{% block title %} 这是list首页内容 {% endblock %}

{% block head %} {% endblock %}


{% block main %}


<!--====================分隔线-->

        <div  id="divv">
  <div class="ding">
    <h3>资产管理 / 主机列表</h3>
    <h1>以下是数据库中所有主机的内容:</h1>
  </div>


           <link rel="stylesheet" href="{{ url_for('static',filename='css/newhost.css') }}">


  <table width="1000" height="50" border="1">
    <thead>
      <tr>
        <th width="150">IP地址</th>
        <th width="100">主机名</th>
        <th width="100">产品</th>
        <th width="100">应用</th>
        <th width="100">机柜编号</th>
        <th width="100">运行状态</th>
        <th width="100">备注</th>
        <th width="100">主机组</th>
        <th width="100">操作</th>
      </tr>
    </thead>
    {% for list1 in list %}


    <tr>
      <td width="150"><label>
          <input name="{{ list1.id }}" class="checkbox" type="checkbox" value="" />
        </label>
        {{ list1.ip }} </td>
      <td width="100">{{ list1.hostname }}</td>
      <td width="100">{{ list1.product }}</td>
      <td width="100">{{ list1.application }}</td>
      <td width="100">{{ list1.idc_jg }}</td>
      <td width="100">{{ list1.status }}</td>
      <td width="100">{{ list1.remark }}</td>
      <td width="100">{{ list1.host_group }}</td>
      <td width="100">编辑或者删除</td>

    </tr>
    {% endfor%}
  </table>


</div>

        <!--============分隔线-->



{% endblock %}