{% for list1 in list %}





    <tr>
      <td width="150"><label>
          <input name="{{ list1.id }}" class="checkbox" type="checkbox" value="" />
        </label>
        {{ list1.ip }} </td>
      <td width="100">{{ list1.hostname }}</td>
      <td width="100">{{ list1.product }}</td>
      <td width="100">{{ list1.application }}</td>
      <td width="100">{{ list1.idc_jg }}</td>
      <td width="100">{{ list1.status }}</td>
      <td width="100">{{ list1.remark }}</td>
      <td width="100">{{ list1.host_group }}</td>
      <td  class="ccc"><li><a  href="{{ list1.id }}">编辑</a> <a  href="javascript:void();" onclick="queren()">删除</a> </li></td>
    </tr>
    {% endfor%}