{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
    <h1>欢迎来到我的blog</h1>
    <p>作者:knight</p>
    <hr>
    <div class="row">
        <h2>如下内容凑的字数</h2>
        <hr>
        <h3>登鹳雀楼</h3>
        <p>白日依山尽，黄河入海流。</p>
        <p>欲穷千里目，更上一层楼。</p>
        <hr>
        <h2>论语</h2>
        <p>
            子张问曰：“令尹子文三仕为令尹，无喜色，三已之无愠色，旧令尹之政必以告新令尹，何如？”子曰：“忠矣。”曰：“仁矣乎？”曰：“未知，焉得仁？”“崔子弑齐君，陈文子有马十乘，弃而违之。至于他邦，则曰：‘犹吾大夫崔子也。’违之。之一邦，则又曰：‘犹吾大夫崔子也。’违之，何如？”子曰：“清矣。”曰：“仁矣乎？”曰：“未知，焉得仁？”</p>
    </div>
{% endblock %}
{% block slider %}
    <ol class="list-unstyled">
        <li><h2>文章列表</h2></li>
        {% for article in articles %}
            <li><a href="article/{{ article.title }}">{{ article.title }}</a></li>
        {% endfor %}
    </ol>
{% endblock %}
