<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    这是html文件中出现的位置
 <p>  用户名: {{ username }}</p>
 <p>  性别: {{ sex }}</p>
 <p>  age: {{ age }}</p>

    <hr>
    <p>名字: {{ person.name }}</p>
    <p>年龄: {{ person.age }}</p>


    <hr>
    <p>谷歌: {{ website.google }}</p>
</body>
</html>