<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

       <link rel="=stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>


</head>
<body>

<!--url跳转-->

<a href="{{ url_for('login') }}">登陆</a>

<img src="{{ url_for('static',filename='images/c.png') }}" >

</body>
</html>

