<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    {% if user and user.age > 18 %}
        <a href="#"> {{ user.username }} </a>
        <a href="#"> 注销</a>
    {% else%}
        <a href="#">登陆</a>
        <a href="#">注册</a>

    {% endif %}



</body>
</html>